.success {
    background-color: rgb(86, 138, 221);
    color: white;
    padding: 10px;
    border-radius: 5px;   /* Закругленные углы */
    margin: 10px 0;
  }
  
  .error {
    background-color: rgb(173, 68, 68);
    color: white;
    padding: 10px;        /* Внутренние отступы */
    border-radius: 5px;   /* Закругленные углы */
    margin: 10px 0;       /* Отступы для заголовка */
  }
  
  .loading {
    color: rgb(42, 42, 90);
    padding: 10px;
    margin: 10px 0;
  }  